html {
    font-size: 62.5%;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}
.headerContainer,
.mainContainer,
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 58%;
    }
    
    .imageContainer {
        width: 38%;
    
        img {
	        filter: grayscale(100%);
	        transition: .3s ease-in-out;
            box-shadow: #d8910d 10px 10px, #2A150D 20px 20px;
            width: 100%;
            margin: 50px 0;
            cursor: crosshair;

            &:hover,
            &:focus {
	            filter: grayscale(0);
            }
        }
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.start,
.up,
input[type="submit"] {
    font: 400 2rem 'Anton', sans-serif; 
    height: 40px;
    width: 300px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #8a8a8a;
    color: #2A150D;
    box-shadow: rgba(42, 21, 13, 0.5) 5px 5px;
    transition: height 1s, width 1s, font-size 1.5s;
    letter-spacing: 1.8px;

    &:hover,
    &:focus {
        height: 50px;
        width: 320px;
        font-size: 2.5rem;
    }
}

footer {
    background-color: #d8910d;
    text-align: center;

    p {
        font: 400 1.8rem 'Anton', sans-serif;
        letter-spacing: 2px;
        margin: 0;
        padding: 10px; 
    }
}