// Header CSS
header {
    background-color: #ffb43b;
}

.contentContainer {

    h1 {
        font: 400 8rem 'Knewave', cursive;
        text-transform: uppercase;
        text-shadow: #8a8a8a 5px 5px;
        color: #2A150D;
    }
    
    h2 {
        font: 400 3rem 'Anton', sans-serif; 
        color: #FFF;
    }

    div {
        margin-top: 50px;
    }
}

