.mainSecOne {
    margin: 50px 0;
}

.imageContainer {
    width: 50%;
}

.contentContainer {
    width: 50%;

    h3 {
        font: 400 4rem 'Knewave', cursive;
        text-shadow: #ffb43b 5px 5px; 
    }

    fieldset {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        border: solid #ffb43b;
        border-width: 0 0 7px 7px;

        div {
            margin: 10px;
            
            label {
                font: 400 2.5rem 'Anton', sans-serif;
                letter-spacing: 2px;
            }
            
            input[type="radio"] {
                margin-left: 10px;
            }
        }
    }

    input[type="submit"] {
        background-color: #ffb43b;
        box-shadow: rgba(42, 21, 13, 0.8) 5px 5px;    
    }
}

.resultSection {
    background-color: #ffb43b;

    .up{
        margin-bottom: 50px;
    }
}