/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    // start collapsing main section with form images under or over forms and text
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .headerContainer {
        justify-content: center;
    }
    .mainContainer {
        justify-content: center;

        form {
            justify-content: center;
        }
    }

    .contentContainer {
        min-width: 100%;

        fieldset {

            div {
                margin: 0;
            }
        }
    }
    
    .imageContainer {
        justify-content: center;
        min-width: 80%;
    }

    .resultSection {

        .results {
            justify-content: center;

            .resultsContainer {
                margin-top: 0;
                h4 {
                    font-size: 5.5rem;
                }
                
                .contOne,
                .contTwo,
                .contThree,
                .contFour,
                .contFive {

                    h5 {
                        font-size: 3.5rem;
                    }
                    
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }   
}

/* Landscape phones and down */
@media (max-width: 480px) {

    .headerContainer .imageContainer img, 
    .mainContainer .imageContainer img {
        box-shadow: none;
        }

    .contentContainer {
        text-align: center;

        div {
            text-align: center;
            // header button
            .start {
                width: 100%;
            }
        }
        // Input Submit
        input[type="submit"] {
            width: 100%;
        }
    }

    .imageContainer {
        justify-content: center;
        min-width: 100%;

        
    }

    .up {
        width: 100%;
    }

    // .resultSection {

    //     .resultsContainer {
    //         margin-top: 0;
    //         h4 {
    //             font-size: 5.5rem;
    //         }
            
    //         .contOne,
    //         .contTwo,
    //         .contThree,
    //         .contFour,
    //         .contFive {

    //             h5 {
    //                 font-size: 3.5rem;
    //             }
                
    //             p {
    //                 font-size: 2rem;
    //             }
    //         }
    //     }
    // }   
}