html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

.headerContainer,
.mainContainer,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .contentContainer,
.mainContainer .contentContainer,
form .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58%;
}

.headerContainer .imageContainer,
.mainContainer .imageContainer,
form .imageContainer {
  width: 38%;
}

.headerContainer .imageContainer img,
.mainContainer .imageContainer img,
form .imageContainer img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-box-shadow: #d8910d 10px 10px, #2A150D 20px 20px;
          box-shadow: #d8910d 10px 10px, #2A150D 20px 20px;
  width: 100%;
  margin: 50px 0;
  cursor: crosshair;
}

.headerContainer .imageContainer img:hover, .headerContainer .imageContainer img:focus,
.mainContainer .imageContainer img:hover,
.mainContainer .imageContainer img:focus,
form .imageContainer img:hover,
form .imageContainer img:focus {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.start,
.up,
input[type="submit"] {
  font: 400 2rem 'Anton', sans-serif;
  height: 40px;
  width: 300px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  background-color: #8a8a8a;
  color: #2A150D;
  -webkit-box-shadow: rgba(42, 21, 13, 0.5) 5px 5px;
          box-shadow: rgba(42, 21, 13, 0.5) 5px 5px;
  -webkit-transition: height 1s, width 1s, font-size 1.5s;
  transition: height 1s, width 1s, font-size 1.5s;
  letter-spacing: 1.8px;
}

.start:hover, .start:focus,
.up:hover,
.up:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  height: 50px;
  width: 320px;
  font-size: 2.5rem;
}

footer {
  background-color: #d8910d;
  text-align: center;
}

footer p {
  font: 400 1.8rem 'Anton', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px;
}

header {
  background-color: #ffb43b;
}

.contentContainer h1 {
  font: 400 8rem 'Knewave', cursive;
  text-transform: uppercase;
  text-shadow: #8a8a8a 5px 5px;
  color: #2A150D;
}

.contentContainer h2 {
  font: 400 3rem 'Anton', sans-serif;
  color: #FFF;
}

.contentContainer div {
  margin-top: 50px;
}

.mainSecOne {
  margin: 50px 0;
}

.imageContainer {
  width: 50%;
}

.contentContainer {
  width: 50%;
}

.contentContainer h3 {
  font: 400 4rem 'Knewave', cursive;
  text-shadow: #ffb43b 5px 5px;
}

.contentContainer fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  border: solid #ffb43b;
  border-width: 0 0 7px 7px;
}

.contentContainer fieldset div {
  margin: 10px;
}

.contentContainer fieldset div label {
  font: 400 2.5rem 'Anton', sans-serif;
  letter-spacing: 2px;
}

.contentContainer fieldset div input[type="radio"] {
  margin-left: 10px;
}

.contentContainer input[type="submit"] {
  background-color: #ffb43b;
  -webkit-box-shadow: rgba(42, 21, 13, 0.8) 5px 5px;
          box-shadow: rgba(42, 21, 13, 0.8) 5px 5px;
}

.resultSection {
  background-color: #ffb43b;
  text-align: center;
}

.resultSection .resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58%;
  margin-top: 50px;
}

.resultSection .resultsContainer h4 {
  font: 400 7rem 'Knewave', cursive;
  text-shadow: #8a8a8a 5px 5px;
  text-transform: capitalize;
  text-decoration: underline;
  letter-spacing: 2px;
  margin: 0;
}

.resultSection .resultsContainer .contOne,
.resultSection .resultsContainer .contTwo,
.resultSection .resultsContainer .contThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resultSection .resultsContainer .contOne h5,
.resultSection .resultsContainer .contTwo h5,
.resultSection .resultsContainer .contThree h5 {
  font: 400 4rem 'Knewave', cursive;
  text-shadow: #8a8a8a 5px 5px;
  margin: 0;
}

.resultSection .resultsContainer .contOne p,
.resultSection .resultsContainer .contTwo p,
.resultSection .resultsContainer .contThree p {
  font: 400 2.5rem 'Anton', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.resultSection .up {
  margin: 20px 0 50px;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
